@import 'GeneralStyle.css';
.login-wrapper-large{
    z-index: 101;
    background: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://skyprecison.s3.amazonaws.com/res/skyprecision_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
}
.login-wrapper-hidden{
    display: none;
}
.nav-bar-wrapper{
    background-color: transparent;
    z-index: 100;
    height:10vh;
    position: fixed;
    top:0;
    width: 100vw;
}
.side-bar-wrapper{
    background-color: transparent;
    z-index: 99;
    position: fixed;
    top:9vh;
}
.hidden{
    
}
.map-wrapper{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.scale-wrapper{
    z-index:99;
    position: fixed;
    bottom:10vh;
    right: 5vw;
}