button,.input-button{
    background-color: black;
    color: white;
    text-align: center;   
    transition-duration: 0.3s;
    border:0;
    padding: 0.2rem;
    border-radius: 0.25rem;
}
button,.input-button:hover{
    background-color: grey;
}
input{
    width:auto;
    word-wrap: break-word;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
}
button.close{
    background-image: url('https://image.flaticon.com/icons/png/512/109/109602.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    background-color: inherit;
    margin: 5px;
    border-radius: 50%;
    
}
button.close:hover{
    background-color: rgb(125,125,125,0.75);
}