@import 'GeneralStyle.css';
.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: rgba(255,255,255,0.5);
    border-color:black;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5rem;
}
form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
}
input{
    margin:1em;
}
header{
    
}