@import 'GeneralStyle.css';
.popup-div{
    background-color: white;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.75);
    transform: translate(-50%,calc(-100% - 20px));
    border-radius: 0.5rem;
    transition-duration: 250ms;
    position: absolute;
    top:0;
}
.hidden{
    background-color: transparent;
    transform: translate(-50%,calc(-100% - 20px));
    transition-duration: 250ms;
}
.visible{
    display: initial;
    transition-duration: 250ms;
}
.button-container{
    display: inline-block;
    top:auto;
}
.pin-logo{
    fill:red;
    stroke: none;
    height:20px;
    transform: translate(-50%,-100%);
}
.hidden-form{
    display: none;
}
.visible-form{
    display: initial;
    display: flex;
    flex-direction: column;
}
textarea{
    width: 100%;
    height: 5.5em;
    resize: none;
}
